<header class="header site-header affix">
    <div class="container">
      <nav class="navbar navbar-default yamm">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <%= image_tag("logo.png", alt:"StockX")%>
            <ul class="nav navbar-right">
              <li><%= link_to t(".browse"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".news"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".app"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".portfolio"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".about"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".faq"), "#", class:"menu-header" %></li>
              <% if user_signed_in? %>
                <li class="dropdown">
                  <%= link_to t(".my_account"), class: "dropdown-toggle menu-header", data: {toggle: "dropdown"}%>
                  <ul class="dropdown-menu">
                    <li class="dropdown-inside"><%= link_to t(".edit"), "#" %></li>
                    <li class="dropdown-inside"><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to t(".login"), "#", class:"menu-header" %></li>
                <li><%= link_to t(".sign_up"), new_user_registration_path, class:"menu-header" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
