<header class="header site-header affix">
    <div class="container">
      <nav class="navbar navbar-default yamm">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <%= image_tag("logo.png", alt:"StockX")%>
            <ul class="nav navbar-right">
              <li><%= link_to t(".browse"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".news"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".app"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".portfolio"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".about"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".faq"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".login"), "#", class:"menu-header" %></li>
              <li><%= link_to t(".sign_up"), "#", class:"menu-header" %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
